:root{
--background: #264653;
--section1: #2a9d8f;
--subsection1: #e9c46a;
--subsection2: #f4a261;
--section2: #e76f51;
}
/* font styles */
/* 
font-family: 'Playfair Display', serif;
font-family: 'Roboto Flex', sans-serif;
font-family: 'Source Sans Pro', sans-serif; 
*/

/* start nav */

.nav-tabs{
background-color: #264653 ;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin:auto;  
}
.nav  {
  display: flex;
  flex-direction: row;
}
.nav-item a {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 50px;
  color: white  ;
  text-decoration: none;
  margin: 5px;
  padding: 5px 15px;
  border-radius: 5px;
}

nav-link:hover{
  background-color: var(--section1);
  color: var(--section2);
}
nav

/* end nav */
/* Start Name  */
#nameLarge{
  width: 90%;
  margin: auto;
}
/* End Name */
/* start about me  */
#aboutmeContainer{
  display: flex;
  flex-direction: column;
  background-color: var(--subsection1);
  background-color: rgba(rgb(110, 70, 70) .8);
  width: 80%;
  margin: 300px auto;
  border-radius: 15px;
  box-shadow: 7px 7px 5px var(--section1);
  box-shadow: -7px -7px 5px var(--section1);
  align-items: center;
  color: var(--background);
}
/* end about me */
